<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serialinterfaceapp">

    <!-- USB Host Feature -->
    <uses-feature android:name="android.hardware.usb.host"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.hardware.usb.host"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SerialInterfaceApp"
        android:theme="@style/MyAppTheme">

        <activity
            android:name=".MainActivity"
            android:label="SerialInterfaceApp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- USB Device Filters -->
        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/devices"/>
        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
            android:resource="@xml/devices"/>

    </application>
</manifest>
